<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <ul>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li><a href="{{ url_for('dashboard', username=current_user.username) }}">Dashboard</a></li>
            {% endif %}

        </ul>
    </div>
    {% with messages =  get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <hr>
    {% block content %}{% endblock %}
</body>
</html>